<ion-header>
  <ion-toolbar>
    <ion-title class="ionheader">
      DESEMBARCADEROS PESQUEROS ARTESANALES
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-accordion-group class="fondofiltro">
    <ion-accordion value="first" class="fondofiltro">
      <ion-item slot="header" color="light">
        <ion-label>Filtrar Desembarcaderos</ion-label>
      </ion-item>
      <div class="ion-padding fondofiltro" slot="content">
        <form [formGroup]="formSearch" (ngSubmit)="buscar()">
          <ion-list class="fondofiltro">
            <ion-item class="fondofiltro">
              <ion-label position="floating">Departamento</ion-label>
              <ion-select id="filtro_depa" interface="popover" placeholder="" formControlName="idDepartamento" (ionChange)="listarIPAS();">
                <ion-select-option *ngFor="let item of departamentos" [value]="item.Dpto_Id">
                  {{ item.Dpto_Nombre }}
                </ion-select-option>
              </ion-select>
            </ion-item>    
            <ion-item class="fondofiltro">
              <ion-label position="floating">Desembarcadero</ion-label>
              <ion-select id="filtro_dpa" interface="popover" placeholder="" formControlName="idIpa">
                <ion-select-option *ngFor="let item of dpas" [value]="item.Infra_Id">
                  {{ item.NOM }}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item class="fondofiltro">
              <ion-label position="floating">Nombre del Desembarcadero</ion-label>
              <ion-input id="inputnombre" type="text" formControlName="nomIpa" placeholder="Ingrese nombre..." maxlength="20"></ion-input>
            </ion-item>
            <ion-item class="fondofiltro">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-button type="submit" color="success" expand="block">
                      Buscar<ion-icon slot="end" name="search-outline"></ion-icon>
                    </ion-button>              
                  </ion-col>
                  <ion-col>
                    <ion-button type="button" color="warning" expand="block" (click)="limpiar()">
                      Limpiar<ion-icon slot="end" name="trash-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>
        </form>
      </div>
    </ion-accordion>
  </ion-accordion-group>


  <!-- <ion-button expand="block" id="btn_ref" (click)="setOpen(true)">Open</ion-button> -->


  <div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>

</ion-content>
<!-- *** -->

<ion-modal #modal [isOpen]="isModalOpen" trigger="btn_ref">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Modal</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false)">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <p>
        {{texto}}
      </p>
    </ion-content>
  </ng-template>
</ion-modal>
<!-- ///// -->



