.ionheader {
  background-color: #3c8dbc;
  padding: 20px;
  color: #ffffff;
  font-weight: bold;
  font-size: small;
  text-align: center;
}

.fondofiltro {
  background-color: #f3f3f3;
}

.map-container {
  // position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 15px;
  height: 100%;
}

.map-frame {
  border: 2px solid black;
  height: 80%;
  width: 90%;
  margin-left: 20px;
  margin-right: 20px;
}

#map {
  height: 100%;
  width: 100%;
} 

.btntop{
  position:fixed;
  bottom: 50px;
  height: 30px;
  width: 50px;
  right: 10px;
  z-index: 1999;
}
