<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      INFRAES. PESQUERA ARTESANAL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="formSearch" (ngSubmit)="buscar()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">DPTO</ion-label>
        <ion-select interface="popover" placeholder="DPTO" formControlName="idDepartamento" (ionChange)="listarIPAS();">
          <ion-select-option *ngFor="let item of departamentos" [value]="item.Dpto_Id">
            {{ item.Dpto_Nombre }}
          </ion-select-option>
        </ion-select>
      </ion-item>    
      <ion-item>
        <ion-label position="floating">DPA</ion-label>
        <ion-select interface="popover" placeholder="DPA" formControlName="idIpa">
          <ion-select-option *ngFor="let item of dpas" [value]="item.Infra_Id">
            {{ item.NOM }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Texto</ion-label>
        <ion-input type="text" formControlName="txt_search" placeholder="Ingrese texto..." maxlength="20"></ion-input>
      </ion-item>
      <ion-item>
        <!-- <ion-label position="floating">DPTO</ion-label> -->
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button type="submit" color="success" expand="block">
                Buscar<ion-icon slot="end" name="search-outline"></ion-icon>
              </ion-button>              
            </ion-col>
            <ion-col>
              <ion-button type="button" color="warning" expand="block" (click)="limpiar()">
                Limpiar<ion-icon slot="end" name="trash-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </form>

  <div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>

</ion-content>


