<ion-header>
  <ion-toolbar size="12">
    <ion-back-button defaultHref="/"></ion-back-button>
    <ion-title class="ionheader">
      {{ nombreipa }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card color="light" id="cardinfoge" class="cardinfostyle">
    <ion-grid class="table">
      <ion-row class="tableHeader headertable">
        <ion-col size="12">
          INFORMACIÓN GENERAL
        </ion-col>      
      </ion-row>
      <ion-row>
        <ion-col size="4" class="cardtitle">
          NOMBRE: 
        </ion-col>      
        <ion-col size="8" class="cardtext">
          {{ nombreipa }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4" class="cardtitle">
          TIPO: 
        </ion-col>      
        <ion-col size="8" class="cardtext">
          {{ tipoipa }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4" class="cardtitle">
          UBICACIÓN: 
        </ion-col>      
        <ion-col size="8" class="cardtext">
          {{ ubiipa }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4" class="cardtitle">
          HABILITADO: 
        </ion-col>      
        <ion-col size="8" class="cardtext">
          <span *ngIf=" ihcond=='1'">
            <ion-icon name="checkmark-circle" color="success" class="cardinfoico"></ion-icon>&nbsp;
           </span>
           <span *ngIf=" ihcond=='0'">
            <ion-icon name="close-circle" color="danger" class="cardinfoico"></ion-icon>&nbsp;
           </span>
           {{ habiipa }} 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4" class="cardtitle">
          ESTADO: 
        </ion-col>      
        <ion-col size="8" class="cardtext interline">
          <span *ngIf=" estaipa=='1'">
            <ion-icon name="ellipse" color="success" class="cardinfoico"></ion-icon>&nbsp;OPERATIVO
          </span>
          <span *ngIf=" estaipa=='0'">
            <ion-icon name="ellipse" color="danger" class="cardinfoico"></ion-icon>&nbsp;NO OPERATIVO
          </span>
          <span *ngIf=" estaipa=='2'">
            <ion-icon name="ellipse" color="warning" class="cardinfoico"></ion-icon>&nbsp;PARCIALMENTE OPERATIVO
          </span>
          <span *ngIf=" itcond=='1'">
            <br><ion-icon name="checkmark-circle" color="success" class="cardinfoico"></ion-icon>&nbsp;TRANSFERIDO
          </span>
          <span *ngIf=" itcond=='0'">
            <br><ion-icon name="close-circle" color="danger" class="cardinfoico"></ion-icon>&nbsp;NO TRANSFERIDO
          </span>
          <span *ngIf=" dispoleipa!=''">
            <br>&nbsp;{{ dispoleipa }} 
          </span>
        </ion-col>
      </ion-row>
    </ion-grid> 
  </ion-card>

  <ion-card color="dark" id="cardfotos" class="cardinfostyle" *ngIf="numfotos>='1'">
    <ion-row class="tableHeader" style="padding-top: 5px; padding-left: 5px; padding-right: 5px;">
      <ion-col class="headertable" size="12">
        INFOGRAFÍA
      </ion-col>      
    </ion-row>
    <ion-row style="padding-bottom: 5px; padding-left: 5px; padding-right: 5px;"> 
      <ion-slides [options]="{initialSlide: 0, slidesPerView: 1, autoplay: true, speed: 400}" pager="true">
        <ion-slide *ngFor="let item of imagenes">
          <div class="slide">
            <img src="{{item.url}}" />
          </div>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-card>

  <ion-card color="medium" id="cardestado" class="cardinfostyle">
    <ion-row class="tableHeader" style="padding-top: 5px; padding-left: 5px; padding-right: 5px;">
      <ion-col class="headertable" size="12">
        ESTADO
      </ion-col>      
    </ion-row>
    <ion-row style="padding-bottom: 5px; padding-left: 5px; padding-right: 5px;" id="divcontainer"> 
      <div id="container" style="display: block;" *ngIf="estaipa=='1'">
        <script>
          HighCharts.chart('container', {
            title: {
              text: 'NOMBRE DE DPA',
              align: 'center'
            },
            credits: {
              enabled: false
            },
            xAxis: {
              categories: ['']
            },
            yAxis: {
              title: {
                text: ''
              }
            },
            labels: {
              items: [{
                html: '',//'<b>% Avance</b>',
                style: {
                  left: '250px',
                  top: '18px',
                  color: ( // theme
                    HighCharts.defaultOptions.title.style &&
                    HighCharts.defaultOptions.title.style.color
                  ) || 'black'
                }
              }]
            },
            colors: 
              //verde, rojo
              ['#82B64C', '#FFC000', '#FF0000']
            ,
            plotOptions: {
              pie: {
                layout: 'vertical',
                align: 'left',
                verticalAlign: 'top',
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
              }
            },            
            series: [{
              type: 'pie',
              name: '%',
              innerSize: '50%',
              startAngle: 0,
              endAngle: 360,
              size: 180,
              center: [250, 80],
              data: [
                ['Operativo: ', 100],
                ['Parcialmente Operativo: ', 50],
                {
                  name: 'No Operativo',
                  y: 0,
                  showInLegend: true,
                  dataLabels: {
                    enabled: false
                  }
                }
              ]
            }]
          });
        </script>
      </div>
    </ion-row>
  </ion-card>
</ion-content>

