<ion-header>
  <ion-toolbar size="12">
    <ion-back-button defaultHref="/"></ion-back-button>
    <ion-title class="ionheader">
      {{ nombreipa }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card color="light" id="cardinfoge" class="cardinfostyle">
    <ion-grid class="table">
      <ion-row class="tableHeader headertable">
        <ion-col size="12">
          INFORMACIÓN GENERAL
        </ion-col>      
      </ion-row>
      <ion-row>
        <ion-col size="4" class="cardtitle">
          NOMBRE: 
        </ion-col>      
        <ion-col size="8" class="cardtext">
          {{ nombreipa }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4" class="cardtitle">
          TIPO: 
        </ion-col>      
        <ion-col size="8" class="cardtext">
          {{ tipoipa }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4" class="cardtitle">
          UBICACIÓN: 
        </ion-col>      
        <ion-col size="8" class="cardtext">
          {{ ubiipa }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4" class="cardtitle">
          HABILITADO: 
        </ion-col>      
        <ion-col size="8" class="cardtext">
          <span *ngIf=" ihcond=='1'">
            <ion-icon name="checkmark-circle" color="success" class="cardinfoico"></ion-icon>&nbsp;
           </span>
           <span *ngIf=" ihcond=='0'">
            <ion-icon name="close-circle" color="danger" class="cardinfoico"></ion-icon>&nbsp;
           </span>
           {{ habiipa }} 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4" class="cardtitle">
          ESTADO: 
        </ion-col>      
        <ion-col size="8" class="cardtext interline">
          <span *ngIf=" estaipa=='1'">
            <ion-icon name="ellipse" color="success" class="cardinfoico"></ion-icon>&nbsp;OPERATIVO
          </span>
          <span *ngIf=" estaipa=='0'">
            <ion-icon name="ellipse" color="danger" class="cardinfoico"></ion-icon>&nbsp;NO OPERATIVO
          </span>
          <span *ngIf=" estaipa=='3'">
            <ion-icon name="ellipse" color="warning" class="cardinfoico"></ion-icon>&nbsp;PARCIALMENTE OPERATIVO
          </span>
          <span *ngIf=" estaipa=='4'">
            <ion-icon name="ellipse" color="secondary" class="cardinfoico"></ion-icon>&nbsp;NUEVO PROYECTO
          </span>
          <span *ngIf=" itcond=='1'">
            <br><ion-icon name="checkmark-circle" color="success" class="cardinfoico"></ion-icon>&nbsp;TRANSFERIDO
          </span>
          <span *ngIf=" itcond=='0'">
            <br><ion-icon name="close-circle" color="danger" class="cardinfoico"></ion-icon>&nbsp;NO TRANSFERIDO
          </span>
          <span *ngIf=" dispoleipa!=''">
            <br>&nbsp;{{ dispoleipa }} 
          </span>
        </ion-col>
      </ion-row>
    </ion-grid> 
  </ion-card>

  <ion-card color="dark" id="cardfotos" class="cardinfostyle" *ngIf="numfotos>='1'">
    <ion-row class="tableHeader" style="padding-top: 5px; padding-left: 5px; padding-right: 5px;">
      <ion-col class="headertable" size="12">
        INFOGRAFÍA
      </ion-col>      
    </ion-row>
    <ion-row style="padding-bottom: 5px; padding-left: 5px; padding-right: 5px;"> 
      <ion-slides [options]="{initialSlide: 0, slidesPerView: 1, autoplay: true, speed: 400}" pager="true">
        <ion-slide *ngFor="let item of imagenes">
          <div class="slide">
            <img src="{{item.url}}" />
          </div>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-card>

  <ion-card color="medium" id="cardestado" class="cardinfostyle">
    <ion-row class="tableHeader" style="padding-top: 5px; padding-left: 5px; padding-right: 5px;">
      <ion-col class="headertable" size="12">
        ESTADO
      </ion-col>      
    </ion-row>
    <ion-row style="padding-bottom: 5px; padding-left: 36px; padding-right: 36px;" id="divcontainer" class="chart-wrapper"> 
      <canvas baseChart class="chartestado"
        [type]="'doughnut'"
        [datasets]="pieChartDatasets"
        [labels]="pieChartLabels"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [legend]="pieChartLegend"
        [tooltip]="tooltip"
        [stroke]="'stroke'"
        [responsive]="true">
      </canvas>
    </ion-row>
  </ion-card>

  

</ion-content>

